<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title> New Users </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<center>

    <h1>Мы находимся тут </h1>
<h1 th:text="${gamer.name}">
</h1>
<br>
    <form th:action="@{/game}"   th:method="Post">

        <div th:object = "${gamer}" >
            <input type="hidden" th:field="*{id}"  id="id">
            <input type="hidden" th:field="*{name}"  id="name">
            <input type="hidden" th:field="*{point}"  id="point">
            <input type="hidden" th:field="*{countQuestion}" id="countQuestion">
        </div>
        <div th:object = "${quest}">
            <h1 th:text="${quest.quest}"/>
            <input type="text" th:field = "*{aswer}" placeholder="Введите ответ" id="aswer">
        </div>
        <input type="submit" name="submit">
    </form>


</center>

</body>
</html>